BASE_API_URL=http://localhost:8800
BASE_AUTH_URL=http://localhost:8800
NEXT_PUBLIC_SITE_URL=https://ebisutracker.com
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=your_recaptcha_site_key
